In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv("C:/Users/KIIT0001/Downloads/customer_churn_dataset.csv")
df.head()

,CustomerID,Gender,Region,Plan,Device,TenureMonths,MonthlyCharges,AddOnCount,SupportLevel,TicketsLast3M,AvgMonthlyUsageHours,DiscountRate,Churn
0,CUST100000,Male,West,Standard,Web,26,345.36,0,High,2,27.38,0.00,0
1,CUST100001,Female,South,Standard,Android,17,479.43,3,Medium,0,50.04,0.15,0
2,CUST100002,Male,South,Premium,Android,28,427.69,5,Low,3,46.35,0.20,0
3,CUST100003,Male,West,Standard,iOS,18,285.71,3,Medium,1,69.00,0.00,1
4,CUST100004,Female,South,Standard,iOS,56,588.80,5,High,2,81.32,0.15,0

In [10]:
df.isnull().sum()

CustomerID              0
Gender                  0
Region                  0
Plan                    0
Device                  0
TenureMonths            0
MonthlyCharges          0
AddOnCount              0
SupportLevel            0
TicketsLast3M           0
AvgMonthlyUsageHours    0
DiscountRate            0
Churn                   0
dtype: int64

In [14]:
df=df.drop_duplicates()

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.drop_duplicates()

,CustomerID,Gender,Region,Plan,Device,TenureMonths,MonthlyCharges,AddOnCount,SupportLevel,TicketsLast3M,AvgMonthlyUsageHours,DiscountRate,Churn
0,CUST100000,Male,West,Standard,Web,26,345.36,0,High,2,27.38,0.00,0
1,CUST100001,Female,South,Standard,Android,17,479.43,3,Medium,0,50.04,0.15,0
2,CUST100002,Male,South,Premium,Android,28,427.69,5,Low,3,46.35,0.20,0
3,CUST100003,Male,West,Standard,iOS,18,285.71,3,Medium,1,69.00,0.00,1
4,CUST100004,Female,South,Standard,iOS,56,588.80,5,High,2,81.32,0.15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,CUST100795,Female,North,Standard,Android,47,558.19,0,Low,0,40.95,0.20,0
796,CUST100796,Female,West,Standard,Android,58,427.92,2,Low,0,27.34,0.00,0
797,CUST100797,Male,East,Basic,Web,35,544.30,0,Low,0,65.79,0.00,0
798,CUST100798,Male,North,Basic,iOS,13,288.89,0,Low,1,89.21,0.15,0
799,CUST100799,Female,South,Basic,Android,42,438.86,2,Medium,2,19.82,0.00,1

In [17]:
df.duplicated().sum()

np.int64(0)

In [20]:
numeric_cols=["TenureMonths","MonthlyCharges","AddOnCount","TicketsLast3M","AvgMonthlyUsageHours","DiscountRate"]
for col in numeric_cols:
    df[col]=df[col].fillna(df[col].median())

In [21]:
df.head()

,CustomerID,Gender,Region,Plan,Device,TenureMonths,MonthlyCharges,AddOnCount,SupportLevel,TicketsLast3M,AvgMonthlyUsageHours,DiscountRate,Churn
0,CUST100000,Male,West,Standard,Web,26,345.36,0,High,2,27.38,0.00,0
1,CUST100001,Female,South,Standard,Android,17,479.43,3,Medium,0,50.04,0.15,0
2,CUST100002,Male,South,Premium,Android,28,427.69,5,Low,3,46.35,0.20,0
3,CUST100003,Male,West,Standard,iOS,18,285.71,3,Medium,1,69.00,0.00,1
4,CUST100004,Female,South,Standard,iOS,56,588.80,5,High,2,81.32,0.15,0

In [22]:
cat_cols=["Gender","Region","Plan","Device","SupportLevel"]
for col in cat_cols:
    df[col]=df[col].fillna(df[col].mode(0))

In [23]:
df.isnull().sum()

CustomerID              0
Gender                  0
Region                  0
Plan                    0
Device                  0
TenureMonths            0
MonthlyCharges          0
AddOnCount              0
SupportLevel            0
TicketsLast3M           0
AvgMonthlyUsageHours    0
DiscountRate            0
Churn                   0
dtype: int64

In [24]:
df["Churn"].value_counts()

Churn
0    618
1    182
Name: count, dtype: int64